---
name: Deploy GitHub Pages preview
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to deploy"
        type: string
        required: true
        default: main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  preview:
    uses: AdobeDocs/commerce-contributor/.github/workflows/github-pages-preview.yml@main
    with:
      branch: ${{ inputs.branch || github.ref }}
